<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Clase 1</title>
</head>

<body>

  <header>
    <div class="contLogo">
      <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
    </div>
    <div class="contSearch">
      <input type="search" class="search" name="search" placeholder="Buscar">
      <i class="fas fa-search"></i>
    </div>
    <nav id="nav1">
      <ul>
        <li>
          <a href="https://www.youtube.com/">Ofertas</a>
        </li>
        <li><a href="https://www.youtube.com/">Tiendas Oficiales</a> </li>
        <li><a href="https://www.youtube.com/">Vender</a></li>
        <li><a href="https://www.youtube.com/">Ayuda</a></li>
      </ul>

      <ul>
        <li>
          <a href="/registro">Creá tu cuenta</a>
          <i class="fas fa-user-circle"></i>
        </li>
        <li>
          <a href="login">Ingresá</a>
          <i class="fas fa-sign-in-alt"></i>
        </li>
        <li>
          <a href="https://www.youtube.com/">Mis Compras</a>
          <i class="fas fa-shopping-basket"></i>
        </li>
      </ul>
      </div>
    </nav>
    <nav id="btnMenu">
      <i class="fas fa-bars"></i>
    </nav>
  </header>

  <section id="banner">
    <img id="img" src="/images/img-home-banner.jpg" alt="Banner ML">
  </section>

  <main>
    
    <section id="lastVisited">

      <h2>Basado en tu última compra</h2>

      <article class="lv">
        <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">

        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 6.770</li>
          <li class="descuentos">40% off</li>
          <li class="descripciones">Cafetera Moulinex Dolce Gusto</li>
        </ul>
      </article>

      <article class="lv">
        <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="Mac Pro 2019">
        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 230.000</li>
          <li class="descuentos">20% off</li>
          <li class="descripciones">Mac Book Pro 2019</li>
        </ul>
      </article>

      <article class="lv">
        <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 70.500</li>
          <li class="descuentos">15% off</li>
          <li class="descripciones">Telefono Movil Samsung Galaxy</li>
        </ul>
      </article>

      <article class="lv">
        <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 34.000</li>
          <li class="descuentos">5% off</li>
          <li class="descripciones">Smart Tv Samsung 43"</li>
        </ul>
      </article>
    </section>

    <section id="ofertas">

      <h2>Ofertas</h2>

      <article class="of">
        <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 34.000</li>
          <li class="descuentos">5% off</li>
          <li class="descripciones">Smart Tv Samsung 43"</li>
        </ul>
      </article>

      <article class="of">
        <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 6.770</li>
          <li class="descuentos">40% off</li>
          <li class="descripciones">Cafetera Moulinex Dolce Gusto</li>
        </ul>
      </article>

      <article class="of">
        <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="Mac Pro 2019">
        <ul class="details">
          <li><i class="fas fa-truck"></i></li>
          <li class="precios">$ 230.000</li>
          <li class="descuentos">20% off</li>
          <li class="descripciones">Mac Book Pro 2019</li>
        </ul>
      </article>
    </section>
  </main>

  <footer>
    <ul>
      <li><i class="far fa-credit-card"></i></li>
      <li class="f1">Pagá con tarjeta o en efectivo</li>
      <li class="f2">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre
        es
        seguro!</li>
    </ul>

    <ul>
      <li><i class="fas fa-gift"></i></li>
      <li class="f1">Envío gratis desde los $ 2.500</li>
      <li class="f2">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un
        beneficio de
        MercadoPuntos.</li>
    </ul>

    <ul>
      <li><i class="fas fa-user-shield"></i></li>
      <li class="f1">Seguridad, de principio a fin</li>
      <li class="f2">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
        prtegid@.</li>
    </ul>

    <p class="copy">Copyright © 1999-2019 MercadoLiebre S.R.L</p>
  </footer>
</body>

</html>