* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ebebeb;
}

a {
  font-size: 0.75em;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

li {
  padding: 3px 0;
}

h2 {
  display: block;
  background-color: #ebebeb;
  padding: 20px 0px;
  text-align: center;
  font-size: 1.25em;
}

header {
  width: inherit;
  background-color: #EAC926;
  padding: 3px 0px;
}

main {
  width: inherit;
}

img {
  display: block;
  width: 90%;
  margin: auto;
}

form {
  width: 80%;
  margin: auto;
  max-width: 282px;
}

label, .txtRadio {
  font-size: 0.75em;
  margin: 5px 0px;
}

input:not(.search) {
  width: 100%;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px;
}

input[type=radio], input[type=checkbox] {
  width: 5%;
  margin: 5px;
}

input[type=submit], input[type=reset] {
  width: 25%;
  margin: 10px auto;
  border-width: 1px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: inherit;
  color: #666;
  background-color: #fff;
  padding: 1em;
}

.btn {
  color: #fff;
  background-color: #0044AA;
  margin: 10px 0;
}

.btnReset {
  color: #fff;
  background-color: #AA0044;
}

.precios {
  font-size: 1.25em;
}

.descuentos {
  font-size: 1em;
  color: #39b54a;
}

.descripciones {
  display: none;
  font-size: 1em;
  font-weight: normal;
  color: #666;
}

.fa-truck {
  color: #39b54a;
  transition: 1s;
}

.fa-credit-card, .fa-gift, .fa-user-shield {
  color: #1259c3;
}

.f1 {
  color: #666;
  font-size: 1em;
  font-weight: bold;
}

.f2 {
  color: #666;
  font-size: 0.75em;
  font-weight: normal;
}

.copy {
  display: block;
  text-align: center;
  font-size: 0.75em;
  margin-top: 5px;
  color: #414040;
}

.lv, .of {
  border-radius: 20px;
  margin: 20px auto;
  background-color: #fff;
  padding: 15px 0;
  max-width: 320px;
}

.lv:hover .descripciones, .of:hover .descripciones {
  display: block;
  box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
}

.lv:hover .fa-truck, .of:hover .fa-truck {
  transform: rotate(360deg);
  animation-name: trans;
  animation-duration: 3s;
}

.lv:hover, .of:hover {
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
}


.formCont, .formRegistro{
  margin: 10px auto;
  flex-grow: 1;
}

.formPerfil, .formNombre, .formInt, .formUser {
  margin: 15px 0px;
}

.btnReset:hover {
  cursor: pointer;
  background-color: #CC1155;
}

.contHead {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contLogo {
  margin: auto;
  padding: 3px 0;
  width: 200px;
}

.contSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  min-width: 200px;
}

.search {
  flex-grow: 1;
  border-width: 0px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.fa-search {
  flex-grow: 0;
  color: #666;
  padding-right: 5px;
}

.footer {
  text-align: center;
}

.contFooterItm {
  width: 100vw;
}

#btnMenu {
  width: 40px;
  height: 35px;
  background-color: #0044AA;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 5px auto;
}

#btnMenu:hover, .btn:hover {
  cursor: pointer;
  background-color: #0022AA;
}

#nav1 {
  display: none;
}

#banner {
  width: inherit;
}

#img {
  display: block;
  width: 100%;
}

#lastVisited, #ofertas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 361px) {
  .contHead {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 769px) {
  #btnMenu {
    display: none;
  }
  .contFooterItm {
    width: 30vw;
  }
  #nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navMenu {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-around;
  }
}

@keyframes trans {
  from {
    color: #39b54a;
  }
  to {
    color: rgb(255, 0, 43);
  }
}